<div class="ui text container">
    <div class="ui segments">
        <div class="ui segment">

            <div class="ui middle aligned center aligned grid">
                <div class="column">
                    <form class="ui form" [formGroup]="rsFormEnterId" (ngSubmit)="enteringId()">
                        <div class="field">
                            <label>Enter a Player Name</label>
                            <input type="text" id="playerid" placeholder="Player Id" formControlName="playerid">
                        </div>
                        <button class="ui blue button" type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>